mj-section(padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/largeAVLine.jpg" alt="")/
mj-section(padding="0" mj-class="bgW")
    mj-column
        mj-text NETGEAR vergroot bereik in de professionele AV-markt door samenwerking met AED Group
        mj-text NETGEAR, marktleider op het gebied van netwerkproducten voor consumenten, bedrijven en serviceproviders, is een samenwerking aangegaan met AED Group voor de Benelux. AED Group is leverancier van totaaloplossingen in de audiovisuele industrie. Met de samenwerking verbetert en vergroot NETGEAR zijn bereik in de professionele AV-markt in België, Nederland en Luxemburg.
        mj-text Wil je meer weten over deze samenwerking neem contact met ons op via
        mj-text nl.rapidresponse@netgear.com
    mj-column
        mj-image(padding="0" width="352px" src="./images/smallAEDdisplay.jpg" alt="")/