mj-section(padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/largeAVLine.jpg" alt="")/
mj-section(padding="0" mj-class="bgW")
    mj-column(padding="20px 30px 10px 20px")
        mj-text(padding="0" padding-bottom="15px" mj-class="T20-500 cB" letter-spacing="1.5px") NETGEAR vergroot bereik in de professionele AV-markt door samenwerking met AED Group
        mj-text(padding="0" padding-bottom="20px" mj-class="T14-400 cT1") NETGEAR, marktleider op het gebied van netwerkproducten voor consumenten, bedrijven en serviceproviders, is een samenwerking aangegaan met AED Group voor de Benelux. #[strong AED Group] is leverancier van totaaloplossingen in de audiovisuele industrie. Met de samenwerking verbetert en vergroot #[strong NETGEAR] zijn bereik in de professionele AV-markt in België, Nederland en Luxemburg.
        mj-text(padding="0" mj-class="T14-400 cT1" ) Wil je meer weten over deze samenwerking neem contact met ons op via
        mj-text(padding="0" mj-class="T14-400 cT1") #[a(style="font-weight:700;color:#2c262d;" href="#") nl.rapidresponse@netgear.com]
    mj-column
        mj-image(padding="0" width="352px" src="./images/smallAEDdisplay.jpg" alt="")/