mj-section(mj-class="bgW" padding="30px 28px 20px 31px")
    mj-column
        mj-text(align="center" padding="0" padding-bottom="28px" mj-class="T18-500 cT0") Neem contact met ons op
        mj-text(align="center" padding="0" mj-class="T14-400 cT0")
            img(src="./images/iconPhone.png" alt="")/ 
            | &nbsp;&nbsp;+31 182 587 000
        mj-text(align="center" padding="0" mj-class="T14-400 cT0")
            img(src="./images/iconMail.png" alt="")/ 
            | &nbsp;&nbsp;nl.rapidresponse@netgear.com
        mj-text(align="center" padding="0" padding-bottom="28px" mj-class="T14-400 cT0")
            img(src="./images/iconLieu.png" alt="") 
            | &nbsp;&nbsp;NETGEAR Benelux, Louis Braillelaan 80, 2719 EK, Zoetermeer The Netherlands
        mj-social(mode="horizontal")
            mj-social-element(icon-size="35px" src="./images/iconFacebook.png" alt="" href="https://facebook.com/netgearbnl")
            mj-social-element(icon-size="35px" src="./images/iconTwitter.png" alt="" href="https://twitter.com/NETGEAR")
            mj-social-element(icon-size="35px" src="./images/iconLinkedin.png" alt="" href="https://www.linkedin.com/company/netgear-nederland/")


