mj-section
    mj-column
        mj-text Neem contact met ons op
        mj-text 
            img(src="./images/iconPhone.png" alt="")/ 
            | +31 182 587 000
        mj-text
            img(src="./images/iconMail.png" alt="")/ 
            | nl.rapidresponse@netgear.com
        mj-text 
            img(src="./images/iconLieu.png" alt="") 
            | NETGEAR Benelux, Louis Braillelaan 80, 2719 EK, Zoetermeer The Netherlands
        mj-social
            mj-social-element(src="./images/iconFacebook.png" alt="" href="")
            mj-social-element(src="./images/iconTwitter.png" alt="" href="")
            mj-social-element(src="./images/iconLinkedin.png" alt="" href="")


