mj-section(padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/largeHeader.jpg" alt="")/
mj-section(padding="0" mj-class="bgW")
    mj-column
        mj-text Uitbreiding AV Line Switches
        mj-text NETGEAR breidt haar Pro AV switches-lijn voor audio-en videotoepassingen uit met 6 nieuwe modellen. Functionaliteiten zoals out-of-box AV gecombineerd met nieuwe gebruikersinterface en gotere PoE-capaciteit zorgen voor eenvoudige implementatie en snel operationeel krijgen van AV-netwerken
        mj-button Meer Informatie
    mj-column
        mj-image(padding="0" width="352px" src="./images/netgearOld.jpg" alt="")/