mj-section(padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/largeHeader.jpg" alt="")/
mj-section(padding="0" mj-class="bgW")
    mj-column(padding="20px 30px 10px 20px")
        mj-text(padding="0" padding-bottom="15px" mj-class="T20-500 cB" letter-spacing="1.5px") Uitbreiding AV Line Switches
        mj-text(padding="0") NETGEAR breidt haar Pro AV switches-lijn voor audio-en videotoepassingen uit met 6 nieuwe modellen. Functionaliteiten zoals out-of-box AV gecombineerd met nieuwe gebruikersinterface en gotere PoE-capaciteit zorgen voor eenvoudige implementatie en snel operationeel krijgen van AV-netwerken
        mj-button Meer Informatie
    mj-column
        mj-image(padding="0" width="352px" src="./images/netgearOld.jpg" alt="")/