mj-section(padding="0" mj-class="bgW")
    mj-column(padding="10px" width="100%" mj-class="bgB")
        mj-text(padding="0" mj-class="T22-300 cTW" letter-spacing="1px") Nieuwe M4250-Switches
    mj-column(width="100%") 
        mj-table
            tr
                td model
                td part number
                td total ports
                td poe budget
                td optional avb licence part number
            tr
                td M4250-26G4F-PoE+
                td GSM4230P
                td 30
                td 300W
                td AVB4230P
            tr
                td M4250-26G4XF-PoE+
                td GSM4230PX
                td 30
                td 480W
                td AVB4230PX
            tr
                td M4250-26G4F-PoE++
                td GSM4230UP
                td 30
                td 1440W
                td AVB4230UP
            tr  
                td M4250-40G8F-PoE+
                td GSM4248P
                td 48
                td 480W
                td AVB4248P
            tr
                td M4250-40G8XF-PoE+
                td GSM4248PX
                td 48
                td 960W
                td AVB4248PX
            tr
                td M4250-40G8XF-PoE++
                td GSM4248UX
                td 48
                td 2,880W
                td AVB4248UX
                