mj-section(padding="0" mj-class="bgW")
    mj-column(padding="10px" width="100%" mj-class="bgB")
        mj-text(padding="0" mj-class="T22-300 cTW" letter-spacing="1px") Nieuwe M4250-Switches
    mj-column(width="100%" padding="20px") 
        mj-table(mj-class="T15-300 cT0")
            tr
                td(style="padding:5px;text-align:center;vertical-align:bottom;text-transform:uppercase;letter-spacing:1px;") #[strong model]
                td(style="padding:5px;text-align:center;vertical-align:bottom;text-transform:uppercase;letter-spacing:1px;") #[strong part number]
                td(style="padding:5px;text-align:center;vertical-align:bottom;text-transform:uppercase;letter-spacing:1px;") #[strong total ports]
                td(style="padding:5px;text-align:center;vertical-align:bottom;text-transform:uppercase;letter-spacing:1px;") #[strong poe budget]
                td(style="padding:5px;text-align:center;vertical-align:bottom;text-transform:uppercase;letter-spacing:1px") #[strong optional avb licence part number]
            tr(style="border: 1px dashed #333333;background-color:#f1f1f1;")
                td(width="28%" style="padding:5px;border-right:1px dashed #333333;") #[strong M4250-26G4F-PoE+]
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") #[a(style="color:#000000;" href="#") GSM4230P]
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") 30
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") 300W
                td(width="18%" style="padding:5px;text-align:center;") AVB4230P
            tr(style="border:1px dashed #333333;")
                td(width="28%" style="padding:5px;border-right:1px dashed #333333;" ) #[strong M4250-26G4XF-PoE+]
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;" ) #[a(style="color:#000000;" href="#") GSM4230PX]
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;" ) 30
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") 480W
                td(width="18%" style="padding:5px;text-align:center;") AVB4230PX
            tr(style="border:1px dashed #333333;background-color:#f1f1f1;")
                td(width="28%" style="padding:5px;border-right:1px dashed #333333;") #[strong M4250-26G4F-PoE++]
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") #[a(style="color:#000000;" href="#") GSM4230UP]
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") 30
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") 1440W
                td(width="18%" style="padding:5px;text-align:center") AVB4230UP
            tr(style="border:1px dashed #333333;")
                td(width="28%" style="padding:5px;border-right:1px dashed #333333;") #[strong M4250-40G8F-PoE+]
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") #[a(style="color:#000000;" href="#") GSM4248P]
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") 48
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") 480W
                td(width="18%" style="padding:5px;text-align:center;") AVB4248P
            tr(style="border:1px dashed #333333;background-color:#f1f1f1;")
                td(width="28%" style="padding:5px;border-right:1px dashed #333333;") #[strong M4250-40G8XF-PoE+]
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") #[a(style="color:#000000;" href="#") GSM4248PX]
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") 48
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") 960W
                td(width="18%" style="padding:5px;text-align:center;") AVB4248PX
            tr(style="border:1px dashed #333333;")
                td(width="28%" style="padding:5px;border-right:1px dashed #333333;") #[strong M4250-40G8XF-PoE++]
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") #[a(style="color:#000000;" href="#") GSM4248UX]
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") 48
                td(width="18%" style="padding:5px;text-align:center;border-right:1px dashed #333333;") 2,880W
                td(width="18%" style="padding:5px;text-align:center;") AVB4248UX
                